Options -Indexes

<Files "docker-entrypoint.sh">
    Require all denied
</Files>

RewriteEngine On

RewriteRule ^app/data/ - [F,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [L]
